<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp di Boolean</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>    
    <div id="app">
        <div class="background">
            <div class="background_top"></div>
            <div class="background_bottom"></div>

            <div class="box_container flex">

                 <!--colonna sx-->
                <div class="a_side boder flex">
                    <div class="user_box flex">
                        <div class="avatar flex">
                            <img :src="myAvatar.avatar" alt="myAvatar.name">
                            <span class="name">{{myAvatar.name}}</span>
                        </div>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <div class="notification_box flex">
                        <div class="notification_icon">
                            <i class="fa-regular fa-bell-slash"></i>
                        </div>
                        <div class="notification_text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search_box flex">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @keyup="searchName()">
                    </div>
                    <div class="contacts_box">
                        <!--class selected per il contatto selezionato-->
                        <div v-show="contact.visible" class="contact flex" :class="(index == selectedIndex)? 'selected':''" v-for="(contact, index) in contacts" @click="selectContact(index)" >
                            <div class="avatar flex">
                                <img :src="contact.avatar" alt="contact.name">
                            </div>
                            <div class="avatar_text">
                                <div class="avatar_name">{{contact.name}}</div>
                                <div class="avatar_last_message">Ultimo messaggio inviato</div>
                            </div>
                            <div class="time">12:00</div>
                        </div>
                        
                    </div>
                </div>

                <!--colonna dx-->
                <div class="main flex">  
                    <div class="active_contact_box flex">
                        <div class="avatar flex">
                            <img :src="contacts[selectedIndex].avatar" alt="contacts[selectedIndex].name">
                            <div class="name">
                                <div class="avatar_name">{{contacts[selectedIndex].name}}</div>
                                <div class="avatar_last_message">Ultimo messaggio inviato</div>
                            </div>
                        </div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <div class="chat_box">
                        <div class="container ">

                            <div class="chat_message" v-for="(messaggio, index) in contacts[selectedIndex].messages">
                                <div class="wrapper flex" :class="(messaggio.status == 'sent')?'sent':'received'">
                                    <div class="message flex" :class="(messaggio.status == 'sent')?'bg-green':'bg-white'">
                                        <div class="message_text">{{messaggio.message}}</div>
                                        <div class="message_time">{{messaggio.date}}</div>
                                    </div>
                                </div>  
                            </div>

                        </div>
                    </div>
                    <div class="new_message_box flex">
                        <div><i class="fa-regular fa-face-smile"></i></div>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage(newMessage)" >
                        <div><i class="fa-solid fa-microphone"></i></div>
                    </div>
                </div>

            </div>
        </div>







    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>